//------------------------------------------------------------------------------
// Browse
//------------------------------------------------------------------------------

@use 'base';

#browse {
  display: grid;
  align-content: flex-start;

  .password {
    background-color: base.$col-light;
    font-size: 18px;
    @include base.b-shadow(0.9);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 37.5px 37.5px 35px;

    .logo {
      grid-column: 1;
      grid-row: 1 / 3;
      padding: 5px;
      @include base.flex-center;

      img {
        width: 65px;
        height: 65px;
      }

      .def-img {
        color: teal;
        @include base.font-special(65px);
      }
    }

    .site_name {
      grid-column: 2 / 4;
      grid-row: 1;
      padding: 5px 0 0 5px;
    }

    .site_login {
      grid-column: 2 / 4;
      grid-row: 2;
      padding: 0 0 0 5px;
    }

    .go-to {
      grid-column: 4;
      grid-row: 1 / 3;
      font-size: 26px;
      @include base.button(base.$col-highlight);
      @include base.lift();

      &:hover {
        background-color: base.$col-light;
      }
    }

    .buttons {
      @include base.button(base.$col-highlight);
      @include base.inactive();
      border-top: 1px solid base.$col-dark;
    }
  }
}
