//------------------------------------------------------------------------------
// _base.scss
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// Colors

$col-dark: #2c2e43;
$col-medium: #595260;
$col-light: #b2b1b9;
$col-xlight: #e0e0e0;
$col-white: #ffffff;
$col-highlight: #ffd523;

//------------------------------------------------------------------------------
// Fonts

@mixin font-special($size) {
  font-family: 'Rajdhani', sans-serif;
  font-size: $size;
}

@mixin font-main($size) {
  font-family: 'Open Sans', sans-serif;
  font-size: $size;
}

//------------------------------------------------------------------------------
// Buttons

@mixin button($highlight) {
  border: none;
  outline: none;
  padding: 0;
  color: $col-dark;
  background-color: $col-light;

  &:hover {
    cursor: pointer;
    color: $highlight;
    background-color: scale-color($col-light, $lightness: -20%);
  }
}

//------------------------------------------------------------------------------
// Shadows

@mixin b-shadow($opacity) {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, $opacity);
}

//------------------------------------------------------------------------------
// Animations

@mixin lift() {
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0);
  transition: text-shadow 0.4s ease-in-out;

  &:hover {
    text-shadow: -4px 4px 10px rgba(0, 0, 0, 0.9);
  }
}
