// Login and Register

%footer__section {
  display: flex;
  justify-content: center;
  background-color: $col-medium;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $col-light;
  font-family: $font-stack;
}

%copywright {
  margin-top: 1em;
}
