%body {
  overflow: hidden;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUsLkNy/5tYAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
}

%nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  position: absolute;
  top: 0;
  padding: 1em 0.5em 1em 0.5em;
  width: 100%;
  font-family: $font-stack;
  z-index: 10;
}

%nav__title {
  font-size: 1.6em;
  margin-left: 0.5em;
  color: $third-color;
}

%title__lock {
  color: $fourth-color;
  margin-right: 0.2em;
}

%title__lock__search__icon {
  color: $fourth-color;
  margin-right: 0.2em;
}

%search__input {
  border-radius: 7px;
  width: 450px;
  align-self: center;
  outline: none;
  max-width: 100%;
  background-color: $third-color;
}

%username__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.2em;
}

%avatar {
  margin-right: 0.3em;
  font-size: 1.2em;
}

%nav__username {
  margin-right: 0.8em;
  color: $third-color;
}

%nav__logout__button {
  background-color: $primary-color;
  color: $fourth-color;
  border-radius: 7px;
  padding: 0.2em 0.5em 0.2em 0.5em;
  
}


// My Password Header Section

%body__html {
  overflow: scroll;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUsLkNy/5tYAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
  padding: 0;
  margin: 0;
  height: 100%;
}