body {
  overflow: hidden;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEUsLkNy/5tYAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
}

// Header section
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #595260;
  position: absolute;
  top: 0;
  padding: 1em .5em 1em .5em;
  width: 100%;
  font-family: "Rajdhani", sans-serif;
}

.nav__title {
  font-size: 1.5em;
  margin-left: 0.5em;
  color: #b2b1b9;
}

.title__lock,
.search__icon {
  color: #ffd523;
  margin-right: 0.2em;
}

.search__input {
  border-radius: 7px;
  width: 350px;
  align-self: center;
  outline: none;
  max-width: 100%;
  background-color: #b2b1b9;
}

#username__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .2em;
}

.avatar {
  margin-right: .3em;
  font-size: 1.2em;
}

.nav__username {
  margin-right: .8em;
  color: #B2B1B9;
}

.nav__logout__button {
  background-color: #2C2E43;
  color: #FFD523;
  border-radius: 7px;
  padding: .2em .5em .2em .5em;
}

.nav__logout__button:hover {
  background-color: #FFD523;
  color: #2C2E43;
}


// Middle section


#middle__section {
 margin-top: 3em;
 padding-top: 1.2em;
 display: flex;
 background-color: #B2B1B9;
 flex-direction: column;
 width: 220px;
 height: 1000px;
 color: #2C2E43;
 font-family: "Rajdhani", sans-serif;
 font-size: 20px;
}

.sidebar__icon {
margin-right: 1em;
margin-left: .5em;

}

.home {
  margin-left: .4em;
  margin-right: .9em;
}

.arrow__icon,
.all__password__section,
.my__passwords__section,
.add__passwords__section {
  padding: .6em 0 .6em 0;
}

.arrow__icon:hover,
.all__password__section:hover,
.my__passwords__section:hover,
.add__passwords__section:hover,
.organization__title:hover,
.category__title:hover {
  background-color: #2C2E43;
  color:#ffd523;
}


.organization__section,
.category__section {
  text-align: center;
  margin-top: 1em;
}

.organization__title,
.category__title {
  padding: .5em 0 .5em 0;
  font-size: 20px;
}


.organizations__list,
.category__list {
  list-style-type: none;
  text-align: center;
  font-size: 15px;
}

.organization__new,
.category__new {
  margin-right: 3em;
  margin-top: 0;
  padding: 0;
}

.category__section {
  margin-bottom: 3em;
}

.arrow {
  font-size: 5px;
  padding-left: 1px;
}




// Footer Section

#footer__section {
  display: flex;
  justify-content: center;
  background-color: #595260;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #b2b1b9;
  font-family: "Rajdhani", sans-serif;
}

.copywright {
  margin-top: 1em;
}



//  Media Queries


