@import 'base';
@import 'header';
@import 'middle';
@import 'footer';


body {
 @extend %body;
}

// Header section
nav {
  @extend %nav;
}

.nav__title {
  @extend %nav__title;
}

.title__lock,
.search__icon {
  @extend %title__lock__search__icon;
}

.search__input {
  @extend %search__input;
}

#username__section {
 @extend %username__section;
}

.avatar {
  @extend %avatar;
}

.nav__username {
  @extend %nav__username;
}

.nav__logout__button {
 @extend %nav__logout__button;
}

.nav__logout__button:hover {
  background-color: #ffd523;
  color: #2c2e43;
}

// Middle section

#middle__section {
  @extend %middle__main;
}

.sidebar__icon {
  @extend %sidebar__icon;
}

.home {
  @extend %home;
}

.arrow__icon,
.all__password__section,
.my__passwords__section,
.add__passwords__section {
 @extend %arrow__all__my__add__section;
}

.arrow__icon:hover,
.all__password__section:hover,
.my__passwords__section:hover,
.add__passwords__section:hover,
.organization__title:hover,
.category__title:hover {
  background-color: $primary-color;
  color: $fourth-color;
  cursor: pointer;
}

.organization__section,
.category__section {
  @extend %organization__category__section;
}

.organization__title,
.category__title {
  @extend %organization__category__title;
}

.organizations__list,
.category__list {
  @extend %organization__category__list;
}

.organization__new,
.category__new {
  @extend %organization__category__new;
}

.category__section {
  @extend %category__section;
}

.arrow {
  @extend %arrow;
}

// Footer Section

#footer__section {
  @extend %footer__section;
}

.copywright {
  @extend %copywright;
}

//  Media Queries

@media screen and (max-width: 1231px) {
  .search__input {
    width: 300px;
  }

  .nav__title {
    font-size: 1.3em;
  }

  .nav__username {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 971px) {
  .search__input {
    width: 220px;
    height: 30px;
  }

  .nav__title {
    font-size: 1em;
  }

  .nav__username {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em 1em 0.5em;
  }

  .nav__title {
    font-size: 1.5em;
  }

  #username__section {
    margin-top: 0.2em;
  }

  .search__input {
    width: 250px;
  }

  .nav__logout__button {
    padding: 0.1em 0.3em 0.2em 0.1em;
  }

  #middle__section {
    margin-top: 8.7em;
    padding-top: 1em;
    width: 170px;
    font-size: 17px;
  }

  .organization__title,
  .category__title {
    padding: 0.5em 0 0.5em 0;
    font-size: 18px;
  }
}
