@import 'base';
@import 'header';
@import 'middle';
@import 'footer';

body {
  @extend %body;
}

nav {
  @extend %nav;
}

.nav__title {
  @extend %nav__title;
}

.title__lock {
  @extend %title__lock;
}

// Middle Section

#section {
  @extend %section__register;
}

#form__section {
  @extend %form__section;
}

.form__header {
  @extend %form__header;
}

.header__icon {
  @extend %header__icon;
}

.header__title {
  @extend %header__title;
}

.header__createAccount {
  @extend %header__login;
}

.form__email,
.form__password,
.form__name {
  @extend %form__email__password__name;
}

input {
  @extend %input;
}

.form__button {
  @extend %form__button;
}

.form__button:hover {
  background-color: #ffd523;
  color: #2c2e43;
  box-shadow: 10px 5px 4px;
  transition: box-shadow 0.1s ease-in-out;
  border: 2px solid black;
}

#login__section {
  @extend %login__section;
}

.register__link {
  @extend %createAccount__link;
}

.register__link:hover {
  color: $col-highlight;
}

#footer__section {
  @extend %footer__section;
}

.copywright {
  @extend %copywright;
}

//Media Queries

@media (max-width: 1024px) {
  #section {
    width: 750px;
  }

  .header__title {
    font-size: 30px;
  }

  .header__icon {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #section {
    width: 600px;
    height: 470px;
  }
}

@media (max-width: 600px) {
  #section {
    width: 500px;
  }

  .header__icon,
  .header__title {
    font-size: 25px;
  }

  .header__createAccount {
    font-size: 17px;
  }

  .form__button {
    width: 30%;
  }
}
